<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> Main View of the Stock Data Server </title>
  <link rel="stylesheet" href="mainView.css">
</head>
<body>
  <h1> This is the main view </h1>
  <h2> Here is a list of all stocks in your portfolio </h2>
  <br>
  <ul>
    <li> Stock 1 </li>
    <li> Stock 2 </li>
    <li> Stock 3 </li>
    <li> Stock 4 </li>
    <li> Stock 5 </li>
  </ul>

</body>
</html>