<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Page Not Found </title>
  <link rel="stylesheet" href="mainView.css">
</head>
<body>
  <header class="mainHeader">
    <nav class="nav">
      <ul class="navLinks">
        <li class="navLink"> <a href="/"> Alle meine Aktien   </a></li>
        <li class="navLink"> <a href="/add-stock"> Aktie hinzufügen </a></li>       
      </ul>
    </nav>
  </header>
  <h2 style="color: red;"> This is my personal 404 page </h2>  
</body>
</html>




